<div class="main-container">

  <app-toolbar></app-toolbar>

  <div class="signup">
    <h1>Join the Conversation</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="name">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Jane" type="text" formControlName="first_name" required>
        @if (signupForm.get('first_name')!.invalid) {
          <mat-error>{{getErrorMessage('first_name')}}</mat-error>
        }
        
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Doe"  type="text" formControlName="last_name">
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="janedoe@email.com"  type="email" formControlName="email">
      @if (signupForm.get('email')!.invalid) {
        <mat-error>{{getErrorMessage('email')}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput  type="password" formControlName="password">
      @if (signupForm.get('password')!.invalid) {
        <mat-error>{{getErrorMessage('password')}}</mat-error>
      }
    </mat-form-field>  
    <button mat-flat-button color="accent" [disabled]="!signupForm.valid">Sign Up</button>
  </form>
  <span>Already have an account? <button mat-button color="primary" routerLink="/login">Login</button> to continue</span>
  </div>

</div>