<div class="main" *ngIf="currentChat.name != ''">
    <div class="header">
        <mat-toolbar>
            <span class="profile-icon" style="background-image: url('https://ui-avatars.com/api/?name={{currentChat.name}}');"></span>
            
            <span>{{currentChat.name}}</span>
            <span class="spacer"></span>
        </mat-toolbar>
        </div>
    <div class="messages">
        <ng-container *ngFor="let chat of currentChat.conversation">
            <div [ngClass]="chat.sent ? 'sent' : 'recieved'">
                <span class="text">{{chat.message}}</span>
                <div class="time">{{chat.time | date:'h:mm a'}}</div>
            </div>
        </ng-container>
    </div>
    <div class="text-input">
        <form [formGroup]="messageForm" (ngSubmit)="send($event)">
            <mat-form-field appearance="outline">
                <input matInput formControlName="message" placeholder="Type a message">
            </mat-form-field>
            <button mat-fab color="primary" aria-label="Example icon button with a menu icon" type="submit">
                <mat-icon>send</mat-icon>
            </button>
        </form>
    </div>
</div>