.profile-icon{
    border-radius: 50%; /* Rounded shape */
    background-size: cover; /* Ensure image covers the entire element */
}
mat-list-item{
    border-bottom: 1px solid rgb(143, 143, 143);
}

mat-list-option .mdc-list-item__end{
    display: none;
}

.selected-contact{
    background-color: rgb(212, 212, 212);
}