/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button.mat-mdc-button {
    border-radius: 100px;
 }

body{
    margin: auto;
    min-width: 800px;
    width: 70%;
}

app-toolbar{
    width: 100%;
}

mat-list-option {
    padding: 10px;
    .mdc-list-item__end{
        display: none;
    }
}